<a href='#employees/<%= id %>' class="pad-right">
    <img src="pics/<%= firstName %>_<%= lastName %>.jpg" width="50" class="list-icon" style="padding-right:6px;"/>
    <div class="story">
    	<b><%= firstName %> <%= lastName %></b>
    	<span class="metadata">
            <span class="link-text"><%= title %></span><br/>
            <span class="inline-block"><%= reportCount %> direct reports</span>
        </span>
    </div>
</a>

<a href="#employees/<%= id %>" class="detail-disclosure"><span></span></a>